/*Main Intro Block css code*/
.landing-page-bg{
    background-image: linear-gradient(to bottom,#d88ff2,#9d74ed);
}
/*Partners Block*/
.outer-block{
      bottom: 20px;
      z-index: 9999px;
  
}
/*Main Intro block image*/
.landing-bg-image{
    width: 100%;
    height: 100%;
 
}
/*learn more btn*/
.learn-more-btn{
    background-image: linear-gradient(120deg,#d88ff2,#9d74ed);
    color:white;
    
}

@media only screen and (max-width: 375px) {
    /*Partners Block*/
    .outer-block {
     bottom: 20px;
    
    }
    /*topics container*/
    .topics-container{
        overflow-x: scroll;
    }
    
    
    .arrow1,.arrow2{
        margin-top: 7px;
    }
    
    .sub-topic-btn{
        margin-right: 6px;
    }
    .scroll-icon-1{
        position: absolute;
        top: 250px;
    }
    .scroll-icon-2{
        position: absolute;
        top: 250px;
    }
  }
  .topics-container{
      
      background-image: linear-gradient(to bottom,#d88ff2,#9d74ed);
  }

  .arrow{
    position:absolute;
    z-index: 9999px;
    background-color:whitesmoke;
    padding:8px;
    cursor: pointer;
  }
 
.arrow1{
    color:darkmagenta;
    font-weight: bold;
    left: 0;
    
}
.arrow2{
    color:darkmagenta;
    font-weight: bold;
    right: 0;
    
}

   .icon-direction-bg{
       background-color: blue;
       
   }
.image{
    width:30px;
    height:20px;
    padding:2px;
}
.rounded-topics{
    border-radius:8px;
}
.search-icon{
    position: absolute;
    bottom:5px;
}
.butt{
    position:absolute;
    right:0;
}
.explore-butt{
    right:0;
}
.live-img{
    width: 60px;
}
.live-butt{
    height: 30px;
}
.title{
    background-image: linear-gradient(to bottom,#d88ff2,#9d74ed);
}
.info_div_img{
    height:60px;
    width: 80px;
}
.info-div{
    background-image: linear-gradient(to bottom,#d88ff2,#9d74ed);
}
.live_coach_img{
    width: 40px;
    height:40px;
}
.block{
    background-image: linear-gradient(to right,#34d111,#94f07f);
}
.block-1{
    background-image: linear-gradient(to right,#02c4fa,#87d7ed);
}
.block-2{
    background-image: linear-gradient(to right,#e6e219,#f7f586);
}
.main-div-instruction{
    z-index: 9999px;
}
.block-3{
    background-image: linear-gradient(to right,#3162f5,#5e7ef2);
}
.notes_div{
    z-index: 9999px;
    bottom: 20px;
}
.arrow_new{
    position:relative;
    z-index: 9999px;
    background-color:white;
    padding:10px;
    cursor: pointer;
}
.explore-more-btn{
    background-image: linear-gradient(120deg,#02c4fa,#87d7ed);
    color:black; 
}
.arrow-div{
    position:relative;
    z-index: 9999px;
}
