/*Main Intro Block css code*/
.landing-page-bg{
  background-image: linear-gradient(to bottom,#d88ff2,#9d74ed);
}
/*Partners Block*/
.outer-block{
    bottom: 20px;
    z-index: 9999px;

}
/*Main Intro block image*/
.landing-bg-image{
  width: 100%;
  height: 100%;

}
/*learn more btn*/
.learn-more-btn{
  background-image: linear-gradient(120deg,#d88ff2,#9d74ed);
  color:white;
  
}

@media only screen and (max-width: 375px) {
  /*Partners Block*/
  .outer-block {
   bottom: 20px;
  
  }
  /*topics container*/
  .topics-container{
      overflow-x: scroll;
  }
  
  /*topics container side arrows*/
  .arrow1,.arrow2{
      margin-top: 7px;
  }
  /*subtopics ssc exams*/
  .sub-topic-btn{
      margin-right: 6px;
  }
  /*notes block - Gate Block side scroll icons*/
  .scroll-icon-1{
      position: absolute;
      top: 250px;
  }
  /*notes block - Gate Block side scroll icons*/
  .scroll-icon-2{
      position: absolute;
      top: 250px;
  }
}
/*ssc topics bg gradient colour*/
.topics-container{
    
    background-image: linear-gradient(to bottom,#d88ff2,#9d74ed);
}
/*ssc topics side arrow common css*/
.arrow{
  position:absolute;
  z-index: 9999px;
  background-color:whitesmoke;
  padding:8px;
  cursor: pointer;
}
/*ssc topics side left arrow*/
.arrow1{
  color:darkmagenta;
  font-weight: bold;
  left: 0;
  
}
/*ssc topics side right arrow*/
.arrow2{
  color:darkmagenta;
  font-weight: bold;
  right: 0;
  
}
/*arrows span element css*/
 .icon-direction-bg{
     background-color:blue;
     
 }
/*subtopics division nvs images css*/
.image{
  width:30px;
  height:20px;
  padding:2px;
}
/*subtopics division nvs block radius*/
.rounded-topics{
  border-radius:8px;
}

/*live classes images*/
.live-img{
  width: 60px;
}

/*examadeinformationdivision-outerblock-images css*/
.info_div_img{
  height:60px;
  width: 80px;
}
/*examadeinformationdivision-outerblock-eachdiv css*/
.info-div{
  background-image: linear-gradient(to bottom,#d88ff2,#9d74ed);
}
/*live-coaching-first-block batchclosessoon css*/
.block{
  background-image: linear-gradient(to right,#34d111,#94f07f);
}
/*live-coaching-second-block batchclosessoon css and ExaNotes intro bg*/
.block-1{
  background-image: linear-gradient(to right,#02c4fa,#87d7ed);
}
/*live-coaching-third-block batchclosessoon css*/
.block-2{
  background-image: linear-gradient(to right,#e6e219,#f7f586);
}
